* {
    margin:0;
}

html{
    font-size:100%;


body{
    font-family; 'Roboto' , sans-saraff;
    font-size:1em;
    height:34px;
    padding-left:16px;
    padding-top:30px;
    margin-bottom:24px;
}

#wrapper{
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    background-color:#fff;
}
    /* if viewport is smaller then 1200px the width will be 100% of viewport */

header  {
    background-color: #53b646;
    height:170px;
    text-align:center;
    padding-top:30px
}

header {
    color:#fff;
}
 h1{
     font-weight;1.5em;
     font-size:4em;
 }

h2{
    font-size;1.5em;
    font-weight;300;
    
}

 h3{
     background-color:aqua;
     height: 34px;
     border-bottom:solid 8px #fdd835;
     padding-left:16px;
     padding-top:30px;
     margin-bottom:24px;
 }
 #content {
    display:flex; 
    flex-direction:column; /* items arranged vertically */
 }

 #work{
     width:75%
 }


#about{width:75%
}


 content-item{
    display:flex;
    flex-direction:column;
    padding-left:16px;
    padding-right:16px;
 }

 #work img{
     width:100%
 }


/* ********** web version *********** */

 /* web version */



@media{mid-width:768px}{
   
    h1{
        font-size:6em;
  
    content{
        flex-direction:row;
    }
    
    
    }
    

}  /* closing media query
 

